<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <title>Mes compétences</title>
</head>
<body class="blue-grey">
    <main class="container blue">
        <section class="row grey darken-1">
            <article class="col s12 m6 lighten-3">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="../images/images-skills.jpg">
                        <span class="card-title">Mes compétences</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="../Index.html"><i class="material-icons">search</i></a>
                    </div>
                    <div class="card-content">
                        <ul class="ml-3">
                            <li>Gestion de projet</li>
                            <li>Capacité de communication</li>
                            <li>Gestion d'équipe</li>
                            <li>Compétences pédagogiques</li>
                            <li>Analyse des besoins territoriaux</li>
                            <li>Adaptabilité et gestion du changement</li>
                            <li>Capacité d'analyse</li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </main>
    
    <!--on lit JS après avoir chargé la page-->
    <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    
        
</body>
</html>