<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours</title>
</head>
<body class="blue-grey">
    <main class="container blue">
        <section class="row grey darken-1">
               <!--ma carte expérience pro-->
               <article class="col s12 m6">
                <div class="card">
                    <div class="card-image black">
                        <img class="responsive-img" src="../images/logo-onliformapro.png">
                        
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="../Index.html"><i class="material-icons">search</i></a>
                    </div>  
                    <div class="card-content">
                        <ul>
                            <li>
                                <h4 class="text-2xl">Onlineformapro de 02/2022 à aujourd'hui</h4>
                                <ul class="text-blue-700">
                                    <li>Répondre aux appels d'offres</li>
                                    <li>Gérer la mise en place d'actions de formation</li>
                                    <li>Garantir la conformité et la qualité jusqu'à la certification</li>
                                    <li>Participer aux réunions du CODIR et au développement stratégique</li>
                                </ul>
                                <ul>
                                    <li>
                                        <h5 class="font-bold">Directeur national des formations du numérique</h5>
                                        <ul class="ml-5">
                                            <li>5 titres professionnels (CDUI, CDA, TSSR, DWWM, TAI)</li>
                                            <li>10 formateurs en moyenne (CDD, CDI ou consultants)</li>
                                            <li>500 stagiaires par an et environ 90% de réussite</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h5 class="font-bold">Directeur régional des formations qualifiantes</h5>
                                        <ul class="ml-5">
                                            <li>10 titres professionnels (SAMS, SA, CA, GP, ARH, ADVF, GFC ...)</li>
                                            <li>20 formateurs en moyenne (CDD, CDI ou consultants)</li>
                                            <li>1000 stagiaires par an et environ 80% de réussite</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h5 class="font-bold">Directeur régional des dispositifs d'insertion</h5>
                                        <ul class="ml-5">
                                            <li>2 dispositifs : MTI et compétences transverses</li>
                                            <li>10 sessions par an</li>
                                            <li>20 formateurs en moyenne (CDD, CDI ou consultants)</li>
                                            <li>1000 stagiaires par an et environ 75% de réussite</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

               <!--ma carte expérience pro-->
               <article class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="../images/images-greta-lozere.jpg">
                        
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="../Index.html"><i class="material-icons">search</i></a>
                    </div>  
                    <div class="card-content">
                        <h4 class="text-2xl">GRETA-CFA GARD/LOZERE de 09/2021 à 01/2022</h4>
                        <ul class="text-blue-700">
                            <li>Répondre aux appels d'offres</li>
                            <li>Gérer les budgets et rééquilibrer l'assiette</li>
                            <li>Gérer la partie RH du recrutement au licenciement</li>
                            <li>Mise en place de la démarche qualité Eduform</li>
                            <li>Garantir la conformité et la qualité jusqu'à la certification</li>
                        </ul>
                        <h5 class="font-bold">Directeur opérationnel et Conseiller en formation continue</h5>
                        <ul class="ml-5">
                            <li>8 certifications / 3 dispositifs d'accompagnement</li>
                            <li>équipe composée d'un coordinateur, 3 assistantes et 15 formateurs</li>
                            <li>200 stagiaires par an et environ 72% de réussite</li>
                        </ul>
                    </li>
                    
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-image">
                        <img class="responsive-img" src="../images/image-greta21.jpg">
                        
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="../Index.html"><i class="material-icons">search</i></a>
                    </div>  
                    <div class="card-content">
                        <h4 class="text-2xl">GRETA 21 de 09/2010 à 08/2021</h4>
                        <ul class="text-blue-700">
                            <li>Répondre aux appels d'offres</li>
                            <li>Veille à l'équilibre financier des actions de formation</li>
                            <li>Gérer le recrutement des formateurs</li>
                            <li>Garantir la conformité et la qualité jusqu'à la certification</li>
                            <li>Gérer le fonctionnement des plateaux techniques</li>
                        </ul>
                        <h5 class="font-bold">Conseiller en formation continue</h5>
                        <ul class="ml-5">
                            <li>8 titres professionnels et diplômes d'état</li>
                            <li>10 formateurs</li>
                            <li>140 stagiaires par an et environ 85% de réussite</li>
                        </ul>
                    </div>
                </div>
                
            </article>


           
        </section>
    </main>
</body>
</html>